apiVersion: v1
kind: ConfigMap
metadata:
  name: proxynd-configmap-files
data:
  proxynd_global.yaml: |-
{{ .Files.Get "files/global.yaml" | indent 4}}
  proxynd_apt-proxy.yaml: |-
{{ .Files.Get "files/apt-proxy.yaml" | indent 4}}
  proxynd_maven-proxy.yaml: |-
{{ .Files.Get "files/maven-proxy.yaml" | indent 4}}
