namespace: example-oci

apps:
  - name: n8n-oci
    type: pull-helm-oci
    specs:
      oci_url: oci://8gears.container-registry.com/library/n8n
      version: "1.0.0"
      dest: n8n-chart

  - name: rsshub-oci
    type: pull-helm-oci
    specs:
      oci_url: oci://ghcr.io/gabe565/charts/rsshub
      version: "latest"
      dest: rsshub-chart
