# MediaWiki Stack with Traefik Ingress
# k3s 환경에서 프로덕션급 Wiki 시스템 구축

namespace: wiki-stack

apps:
  # 1. MySQL Database - MediaWiki 백엔드
  mysql:
    type: yaml
    manifests:
      - manifests/mysql.yaml

  # 2. MediaWiki Application
  mediawiki:
    type: yaml
    manifests:
      - manifests/mediawiki.yaml
    depends_on:
      - mysql

  # 3. Traefik Ingress (YAML로 정의)
  wiki-ingress:
    type: yaml
    manifests:
      - manifests/ingress.yaml
    depends_on:
      - mediawiki
