# K3scode RDB Example
# Relational database infrastructure deployment

namespace: k3scode-rdb

apps:
  - name: postgresql
    type: helm
    specs:
      chart: bitnami/postgresql
      version: "16.0.0"
      values:
        - values/postgresql.yaml
