# K3scode DevOps Example
# DevOps/CI-CD infrastructure deployment

namespace: k3scode-devops

apps:
  - name: prometheus
    type: helm
    specs:
      chart: prometheus-community/prometheus
      version: "25.0.0"
      values:
        - values/prometheus.yaml

  - name: grafana
    type: helm
    deps:
      - prometheus
    specs:
      chart: grafana/grafana
      version: "8.0.0"
      values:
        - values/grafana.yaml
